# Archivos generados por protobuf
**/*_pb2.py
**/*_pb2_grpc.py
**/*_pb2.pyi
**/*.pb.go

# Go
**/go.sum
**/*.exe
**/*.test
**/*.out
**/server
# **/client

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/env/
**/venv/
**/.venv/
**/poetry.lock
**/.pytest_cache/
**/*.egg-info/

# C
**/*.o
**/*.a
**/*.so
# **/client
**/server
**/*.pb-c.c
**/*.pb-c.h

# Java
**/target/
**/*.class
!java-client/src/**/*.class
**/*.jar
**/*.war
**/*.ear
**/.settings/
**/.classpath
**/.project

# IDEs
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*~
**/.DS_Store

# Build artifacts
**/build/
**/dist/
**/*.log

# Environment files
.env

# Chat application artifacts
**/Descargas/
**/Downloads/
**/chat-downloads/
javaclient/src/**
